/* Basics */

.body {
    background-color:#7fc4ff;
}

a {
    color: #7fc4ff;
}

h1,h2,h3 {
    font-family: 'Delius', cursive;
}

h4,h5 {
    font-weight:bold;
}

label {
    display: inline;
}

textarea {
    width:600px;
    height:100px;
}

/* Submit form */

.required-message {
    display: none;
}

.ss-q-title {
    font-size:16px;
    margin: 5px 0px 5px 0px;
}

.ss-form ol{
    margin: 0 0 0 0;
}

.questions {
    font-size:14px;
    margin: 10px 10px 10px 10px;
}

/* Article styling */

article {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 25px;
	
	
}

article a {
    color:#7fc4ff;

}

article h3 a, h4 a, h5 a {
    color:black;
}

/* Header styling */

.site-name {
    margin-top:20px;
    font-size:40px;
    color:white;
    padding:0px;
    font-family: 'Delius', cursive;
    /* 'Merriweather Sans', sans-serif; */
}

.site-description {
    font-size:22px;
    color:white;
    margin-top:-25px;
    float:right;    
    font-family: 'Delius', cursive;
}

.navbar {
    font-family: 'Delius', cursive;
}

.nav.pull-right {
    margin-top:30px;
    margin-right:30px;
}

.navbar .nav li a {
    color:white;
    text-shadow:none;
    font-size:22px;
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
    background-color:#7fc4ff;
    box-shadow:none;
    -webkit-box-shadow;none;
}

.navbar .nav>.active>a {
    color:white;
}

.navbar-inner {
    background-image:none;
    background-color:#7fc4ff;
}

/* MISC */

.filler {
    height:30px;
    text-align:center;
}

.intro {
    font-family: 'Delius', cursive;
    font-size:18px;
    font-weight:bold;
}

.no-space-below {
    margin-bottom:0px;
	
}

a.no-space-left {
    margin-left:0px;
    padding-left:0px;
}

.list-of-tags a {
   background:white; 
   color:black;
}

.ss-required-asterisk {
    font-weight:normal;
    font-size:16px;
}


.storydiv textarea {
    width:600px;
    height:300px;
}
