{% extends 'base.html' %}

{% block title %}
{{ article.title|striptags|e }} {%if article.subtitle %} - {{ article.subtitle|striptags|e }} {% endif %} · {{ super() }}
{% endblock title %}

{% block head_description %}
{% if article.summary %}
{{ article.summary|striptags|e }}
{% endif %}
{% endblock head_description %}

{% block meta_tags_in_head %}
{{ super() }}
{% if article.tags or article.category or article.keywords %}
<meta name="keywords" content="{{ [article.tags|join(', '), article.category, article.keywords]|join(', ') }}" />
{% endif %}

{% from '_includes/smo_metadata.html' import smo_metadata with context %}
{{ smo_metadata(article) }}
{% endblock meta_tags_in_head %}

{% block content %}
<div class="row-fluid filler">
</div>

<div class="row-fluid">
    <div class="span9">

        <article>
            <div class="row-fluid">
                <header class="page-header span12">
                    <h1><a href="{{ SITEURL }}/{{ article.url }}"> {{ article.title }} {%if article.subtitle %} <small> {{ article.subtitle }} </small> {% endif %} </a></h1>
                </header>
            </div>
            <div class="row-fluid">
                <div class="span12 article-content">
                    {% import '_includes/translations.html' as translations with context %}
                    {{ translations.translations_for(article) }}
                    {{ article.content }}
                    {% from '_includes/share_links.html' import share_links with context %}
                    {{ share_links(article) }}
                    {% from '_includes/comments.html' import comments with context %}
                    {{ comments(article) }}
                    <hr/>
                    {% include '_includes/related_posts.html' with context %}
                </div>        
            </div>
        </article>
    </div>
    <div class="span3">
        <section>
            <div class="filler">
            </div>
            <div class="span12" style="float:right;font-size:0.9em;">
                {% if article.author %}
                    <h3>Submitted By</h3>
                    <a href="{{ SITEURL }}/{{ article.author.url }}" rel="author">{{ article.author }}</a>
                {% endif %}

                {% if article.date %}
                    <h3>Published</h3>
                    {% set day = article.date.strftime('%d')|int %}
                    <time pubdate="pubdate" datetime="{{ article.date.isoformat() }}">{{ article.date.strftime('%b') }} {{ day }} {{- article.date.strftime(', %Y') }}</time>
                {% endif %}
                {% include '_includes/last_updated.html' %}
                {% include '_includes/multi_parts.html' %}
                {% if article.category|trim|count > 0 %}
                    <h3>Category</h3>
                    <a class="category-link" href="{{ SITEURL }}/categories.html#{{ category.slug }}-ref">{{ article.category }}</a>
                {% endif %}
                {% if article.tags and article.tags[0]|trim|count > 0 %}
                    <h3>Tags</h3>
                        {% set oldtest = "fake" %}
                        <ul class="list-of-tags tags-in-article">
                            {% for aTag, tagged_articles in tags|sort %}
                            {% set ttest = aTag.name.split("-")[0] %}
                            {% set tname = aTag.name.split("-")[1] %}
                            {% if ttest == oldtest %}
                            {% else %}
                            <b>{{ ttest }}</b> <br />
                            {% endif %}
                            {% set oldtest = ttest %}
                            <a href="{{ SITEURL }}/tag/{{ aTag.slug }}.html"> {{ tname }}</a>
                            ({{ tagged_articles|count }})<br />
                            {% endfor %}</a>
                        </ul>
                {% endif %}
                {% include '_includes/social_links.html' %}
                {% include '_includes/mailchimp.html' %}
            </div>
        </section>
    </div>
</div>
{% endblock content %}

{% block script %}
    {{ super() }}
    {% from '_includes/comments.html' import comments_script with context %}
    {{ comments_script(article) }}
{% endblock script %}
